.posts {
  @apply py-5 flex flex-row;
}

.posts h1 {
  @apply text-[20px] font-bold;
}

.posts button.transparent-button {
  @apply hover:bg-[#f3f3f3] text-blue text-[17px] rounded-[6px] p-2;
}

button.btn-wide {
  @apply btn-secondary px-12 w-[100%] mt-3 justify-center;
}

button.btn-small {
  @apply px-4 w-[fit-content];
}

button.save {
  @apply btn-primary disabled:text-black disabled:bg-grey;
}

.posts textarea {
  @apply rounded-[6px] mt-2 w-[100%] bg-[#f0f2f5] h-[70px] text-center text-[15px] font-bold pt-[10px];
  border: 1px solid aliceblue;
  resize: none;
  color: rgb(100, 99, 99);
}

.posts textarea:focus {
  outline: none;
  @apply !border-blue !border-[1px] !border-solid bg-[white];
}

.posts textarea:hover {
  @apply bg-[#f0f2f5];
}

.posts textarea::placeholder {
  @apply text-center text-[#666666] font-bold  text-[15px];
}

.left-cards {
  @apply w-[40%] flex flex-col mr-4;
}

.left-cards > * {
  @apply mb-4;
}

.right-cards {
  @apply w-[60%] flex flex-col;
}

.right-cards > * {
  @apply mb-4;
}

.edit-details-modal * {
  @apply font-homePrimary;
}

.edit-details-modal h1 {
  @apply text-[17px] font-[600] text-[#050505] mb-6;
}

.edit-details-modal h1 > span {
  @apply text-[#65676B] block !font-[400] text-[15px];
}

.edit-details-modal-header {
  @apply flex flex-row items-center py-3 px-3;
}

.edit-details-modal-body {
  @apply px-6 py-3 h-[35rem] overflow-y-auto;
}

.edit-details-modal-footer {
  @apply flex flex-row justify-between p-4;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: #ced0d4;
  border-radius: 6px;
}
