@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-primary;
}

.vertical-align {
  @apply flex flex-col;
}

.horizontal-align {
  @apply flex flex-row;
}

input[type="text"],
input[type="password"] {
  @apply border-none outline-none w-full;
}

hr {
  border: solid 0.1px #dadde1;
  width: 100%;
  color: #dadde1;
  height: 1px;
}

.login-container {
  @apply vertical-align h-[456px] w-[396px] items-center p-4 bg-[#fff] rounded-[6px] h-fit;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
